.wrapper {
	margin-left: 5%;

}
#results {
	width: 80%;
	height: 10%;
}

p {
	color: white;
	background-color: dodgerblue;
	padding: 5px 5px 5px 5px;
	border: solid 0.5px black;
	border-radius: 15px;
}

#pageLink:hover {
	opacity: 0.5;
}